In [8]:
import scanpy as sc 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [38]:
#read transcription factor atlas data from https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE216481 
p_tf_atlas = '/lustre/scratch123/hgi/teams/parts/kl11/cell2state_tf_activation/data/transcription_factor_atlas/'

In [ ]:
#Load joint ATAC-seq and RNA-seq data from TF atlas data
adata_rna_atac = sc.read_h5ad(f'{p_tf_atlas}GSE217215_201218_ATAC.h5ad')

In [56]:
#Load scRNA-seq data from TF atlas data with 3550 TFs ORFs
adata_all_tfs = sc.read_h5ad(f'{p_tf_atlas}GSE217460_210322_TFAtlas.h5ad')

In [43]:
#from adata.obs only select TF name without ORF by splitting on hyphen and selecting the second element and make all uppercases
adata_rna_atac.obs['TF_name'] = adata_rna_atac.obs['TF'].str.split('-').str[1]
adata_rna_atac.obs['TF_name'] = adata_rna_atac.obs['TF_name'].str.upper()

In [57]:
#from adata.obs only select TF name without ORF by splitting on hyphen and selecting the second element and make all uppercases
adata_all_tfs.obs['TF_name'] = adata_all_tfs.obs['TF'].str.split('-').str[1]
adata_all_tfs.obs['TF_name'] = adata_all_tfs.obs['TF_name'].str.upper()

In [20]:
sc_data_folder = '/nfs/team205/vk7/sanger_projects/cell2state_tf_activation/data/pilot_5_prime_dec_2022/'
#Read in sgRNA sequences to count reads per guide
sgrna_df=pd.read_csv(f'{sc_data_folder}cellranger710_count_05e682d5679826b9b76d6bec731bbe61/feature_reference.csv')
#Append additional sgRNA sequences that were not included in the data by appending rows to the dataframe
sgrna_rest_df = pd.DataFrame(
    [[
        "sgRNA1_SCP_CGAGTGTTCGATCGCGACTG_sgRNA1_SCP_CGAGTGTTCGATCGCGACTG_2",
        "sgRNA1_SCP_CGAGTGTTCGATCGCGACTG_sgRNA1_SCP_CGAGTGTTCGATCGCGACTG_2",
        "R2",
        "TGCTGTTTCCAGCATAGCTCTTAAAC(BC)",
        "AGTCGCGATCGAACACTCGC",
        "CRISPR Guide Capture"
        ],
    [
        "sgRNA6_SCP_GCAGACGTGCCTACGGACCG_sgRNA6_SCP_GCAGACGTGCCTACGGACCG_2",
        "sgRNA6_SCP_GCAGACGTGCCTACGGACCG_sgRNA6_SCP_GCAGACGTGCCTACGGACCG_2",
        "R2",
        "TGCTGTTTCCAGCATAGCTCTTAAAC(BC)",
        "CGGTCCGTAGGCACGTCTGC",
        "CRISPR Guide Capture"]],
    columns= sgrna_df.columns
)
#rowwise concatenation of the two dataframes
sgrna_df = pd.concat([sgrna_df, sgrna_rest_df], axis=0,ignore_index=True)

In [49]:
#from id only select gene sequence by splitting on underscore and selecting the first element and make all uppercases
sgrna_df['TF_name'] = sgrna_df['id'].str.split('_').str[0]
sgrna_df['TF_name'] = sgrna_df['TF_name'].str.upper()

In [31]:
#search for the unique intersection of TF names in the two dataframes
tf_names_overlap_rna_atac = np.intersect1d(adata_rna_atac.obs['TF_name'].unique(), sgrna_df['TF_name'].unique())

In [59]:
#search for the unique intersection of TF names in the two dataframes
tf_names_overlap_all_tfs = np.intersect1d(adata_all_tfs.obs['TF_name'].unique(), sgrna_df['TF_name'].unique())

In [60]:
tf_names_overlap_all_tfs

array(['AIRE', 'ASCL1', 'DBX2', 'DLX1', 'DLX5', 'FOXN1', 'GATA2', 'IRF3',
       'LHX6', 'MAFB', 'MYOD1', 'NEUROD2', 'NEUROG2', 'OLIG1', 'OLIG2',
       'PROX1', 'RORA', 'RORB', 'SATB2', 'TSHZ3'], dtype=object)